

  body {
    
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: small; /* Schriftgröße */
  }

  input{
    margin-left: 25px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  label{
    margin-left: 25px;
    margin-right: 10px;
  }

  .structed-table {
    border-spacing: 30px;
  }

  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table th{
    border-bottom: 1px solid #009879;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}


