<title>St&uuml;ckelung</title>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1">

<body>
    <div class="custom-control custom-switch">
        <input id="checkbox" name="checkboxFrontend" type="checkbox" checked (change)="onCheckboxChange($event)" />
        <label class="custom-control-label" for="checkbox">Frontend</label>
    </div>
    <div class="input">
    <label class="custom-control-label" for="inputNewValue">Eingabe Betrag:</label>
    <input #inputNewValue id="inputNewValue" type="text" name="inputNewValue"  required autofocus pattern="[0-9]*[.|,]{0,}[0-9]{1,2}" >
    <button type="submit" (click)="onSubmit(inputNewValue.value)">Berechnen</button>

    </div>
    <table class="structed-table">
        <tr>
            <td>
                <div>
                    <h2>Neue St&uuml;ckelung</h2>
                    <p>neuer Betrag: {{newAmount |  currency:'EUR':true }}</p>
                    <table class="styled-table">

                        <th>Schein/M&uuml;nze</th>
                        <th>Anzahl</th>

                        <tbody>
                            <tr *ngFor="let note of newNotes">
                                <td>{{note.value | customNumber}}</td>
                                <td>{{note.count}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td>
                <div>
                    <h2>Differenz</h2>
                    <p>alter Betrag: {{oldAmount | currency:'EUR':true}}</p>
                    <table class="styled-table">
                        <th>Schein/M&uuml;nze</th>
                        <th>Anzahl</th>
                        <tbody>
                            <tr *ngFor="let note of diffNotes">
                                <td>{{note.value | customNumber}}</td>
                                <td>{{note.sign}}{{note.count}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </td>
        </tr>
    </table>
</body>
